---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/3a81eac13aa64e3c90041b1f25c57d9d/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - '0288966a-07bd-46f0-8814-b30c457e92b4'
      etag:
      - W/"8fb-t6SZ7TOae5ipGpOJGTqffjMnetQ"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"3383ea30-0472-43a6-be65-898b8175dc71","created_time":"2023-12-25T19:42:00.000Z","last_edited_time":"2023-12-25T19:43:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3a81eac1-3aa6-4e3c-9004-1b1f25c57d9d"},"archived":false,"properties":{"Tags":{"id":"%7BMQE","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"test
        page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test
        page","href":null}]}},"url":"https://www.notion.so/test-page-3383ea30047243a6be65898b8175dc71","public_url":null},{"object":"page","id":"b1c19d4d-576f-4d01-a98a-337791edce14","created_time":"2023-12-25T19:42:00.000Z","last_edited_time":"2023-12-25T19:42:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3a81eac1-3aa6-4e3c-9004-1b1f25c57d9d"},"archived":false,"properties":{"Tags":{"id":"%7BMQE","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b1c19d4d576f4d01a98a337791edce14","public_url":null},{"object":"page","id":"f71d09f4-dc35-41b1-b68d-a6773bf04cb2","created_time":"2023-12-25T19:42:00.000Z","last_edited_time":"2023-12-25T19:42:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3a81eac1-3aa6-4e3c-9004-1b1f25c57d9d"},"archived":false,"properties":{"Tags":{"id":"%7BMQE","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f71d09f4dc3541b1b68da6773bf04cb2","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0288966a-07bd-46f0-8814-b30c457e92b4"}'
  recorded_at: Mon, 25 Dec 2023 19:43:24 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/3383ea30-0472-43a6-be65-898b8175dc71/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2422fb56-5335-4c79-88f7-35ca14b4ee9b
      etag:
      - W/"349-+RBcNkFVMdw7fQRpwflsYF7zhnw"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"d3ab085c-4c90-46d9-9c40-cdaf1853d693","parent":{"type":"page_id","page_id":"3383ea30-0472-43a6-be65-898b8175dc71"},"created_time":"2023-12-25T19:43:00.000Z","last_edited_time":"2023-12-25T19:43:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"test
        page ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test
        page ","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2422fb56-5335-4c79-88f7-35ca14b4ee9b"}'
  recorded_at: Mon, 25 Dec 2023 19:43:24 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/3383ea30-0472-43a6-be65-898b8175dc71
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1d3ccee2-d567-49e6-8781-a4b7fa47c931
      etag:
      - W/"38d-mU4WoR[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/f71d09f4-dc35-41b1-b68d-a6773bf04cb2/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ca686d2-8515-42e7-91c2-064779e70526
      etag:
      - W/"90-ZR2iN89C8c3uhZCq27NmM5FvoFQ"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9ca686d2-8515-42e7-91c2-064779e70526"}'
  recorded_at: Mon, 25 Dec 2023 19:43:26 GMT
recorded_with: VCR 6.2.0
