---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/c3092baff5e04081b2cfc8fedc14c2f1/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 91a0baf7-f35b-40d2-ad8a-233b7da99c27
      etag:
      - W/"1a1a5-BZxOV2fZdpC7F57sB3oW+mIYR2o"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"c3494594-517d-4498-a6b6-475286d64f9f\",\"created_time\":\"2023-12-21T13:52:00.000Z\",\"last_edited_time\":\"2023-12-21T13:52:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"c3092baf-f5e0-4081-b2cf-c8fedc14c2f1\"},\"archived\":false,\"properties\":{\"Added\":{\"id\":\"Ym-6\",\"type\":\"created_time\",\"created_time\":\"2023-12-21T13:52:00.000Z\"},\"Author\":{\"id\":\"%5D(%7BR\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"John
         Gruber -  Daring Fireball \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"John
         Gruber -  Daring Fireball \",\"href\":null}]},\"URL\":{\"id\":\"%5D%2Cob\",\"type\":\"url\",\"url\":null},\"Quote\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Writing
        is thinking, and it’s in the writing of ideas that they become fully formed.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Writing
        is thinking, and it’s in the writing of ideas that they become fully formed.\",\"href\":null}]}},\"url\":\"https://www.notion.so/Writing-is-thinking-and-it-s-in-the-writing-of-ideas-that-they-become-fully-formed-c3494594517d4498a6b6475286d64f9f\",\"public_url\":null},{\"object\":\"page\",\"id\":\"e145be59-715b-453d-8af4-8834c4d4c511\",\"created_time\":\"2023-12-20T23:24:00.000Z\",\"last_edited_time\":\"2023-12-21T12:29:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"c3092baf-f5e0-4081-b2cf-c8fedc14c2f1\"},\"archived\":false,\"properties[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/c3494594-517d-4498-a6b6-475286d64f9f/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c99e5708-c415-4816-a6b7-751ccb03ef88
      etag:
      - W/"90-baJcnXk1dEhdc9uihY/iMaO22t8"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c99e5708-c415-4816-a6b7-751ccb03ef88"}'
  recorded_at: Mon, 25 Dec 2023 19:33:35 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/996a6cef-24d1-4d70-a4f4-574f701fc74a/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e29cc4a-678c-4d92-b3ae-fdb4aeae631d
      etag:
      - W/"275-v1Ed0HTXsS11OOQ9df+EHT7NXIs"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"9c2d2fd8-e321-4d5c-a2ef-6048dfb2f543","parent":{"type":"page_id","page_id":"996a6cef-24d1-4d70-a4f4-574f701fc74a"},"created_time":"2023-03-31T02:14:00.000Z","last_edited_time":"2023-03-31T02:14:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1e29cc4a-678c-4d92-b3ae-fdb4aeae631d"}'
  recorded_at: Mon, 25 Dec 2023 19:33:37 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/4579802d-6fc5-45aa-872e-b10dbe76f1e6/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - '08b4d665-76a5-4e2f-a366-6b292c885d50'
      etag:
      - W/"472-yLyRigwLxbNqyu+rUfPPtx0o6Zw"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"5007114f-7a2a-42f0-9011-969042804a30","parent":{"type":"page_id","page_id":"4579802d-6fc5-45aa-872e-b10dbe76f1e6"},"created_time":"2020-11-23T21:17:00.000Z","last_edited_time":"2020-11-23T21:17:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"has_children":false,"archived":false,"type":"video","video":{"caption":[],"type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/47693c16-4a23-4e80-8169-ed3b5d2a02a5/956be192-bc15-4c35-99bf-253e9b7ec7b7/overcast-clip.mov?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45HZZMZUHI%2F20231225%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20231225T193343Z&X-Amz-Expires=3600&X-Amz-Signature=c959bc667181525c1291846ede7d382c0ee3c09d3d8ba77e28db5be50d694b54&X-Amz-SignedHeaders=host&x-id=GetObject","expiry_time":"2023-12-25T20:33:43.882Z"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"08b4d665-76a5-4e2f-a366-6b292c885d50"}'
  recorded_at: Mon, 25 Dec 2023 19:33:43 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/68608406-fc1e-443b-8e7e-4a32dc9517e1/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 63524071-a878-4623-8b50-b4aa3dd43f51
      etag:
      - W/"2a1-XVy9inc15HIOF5XAOGrIzDutQ24"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"f63206f5-c119-44b9-86e6-3ec09c70687c","parent":{"type":"page_id","page_id":"68608406-fc1e-443b-8e7e-4a32dc9517e1"},"created_time":"2020-09-08T23:33:00.000Z","last_edited_time":"2020-09-08T23:33:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"has_children":false,"archived":false,"type":"embed","embed":{"caption":[],"url":"https://twitter.com/traderamogh/status/1303461071361961984?s=12"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"63524071-a878-4623-8b50-b4aa3dd43f51"}'
  recorded_at: Mon, 25 Dec 2023 19:33:46 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/0653a56d-607f-4957-bfcb-bb271403718b/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 99f1e7fe-677a-423d-b807-996204306040
      etag:
      - W/"4c82-zPqsA6+mnWsooPMRiVA9LBc74sI"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"1ed3a501-35a0-4c86-bad7-df20d3cbb953","parent":{"type":"page_id","page_id":"0653a56d-607f-4957-bfcb-bb271403718b"},"created_time":"2020-08-30T02:53:00.000Z","last_edited_time":"2020-08-30T02:53:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"has_children":false,"archived":false,"type":"image","image":{"caption":[],"type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/47693c16-4a23-4e80-8169-ed3b5d2a02a5/5740275c-5728-4d9d-a22f-9a26baa1314a/clear.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45HZZMZUHI%2F20231225%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20231225T193346Z&X-Amz-Expires=3600&X-Amz-Signature=295abef46c88ecafbf033b56dadf7c942a056a1019bd771452508e4f8fd8f960&X-Amz-SignedHeaders=host&x-id=GetObject","expiry_time":"2023-12-25T20:33:46.988Z"}}},{"object":"block","id":"c0b1ecbd-1be5-4285-a517-3c71a7937f77","parent":{"type":"page_id","page_id":"0653a56d-607f-4957-bfcb-bb271403718b"},"created_time":"2020-08-30T02:53:00.000Z","last_edited_time":"2020-08-30T02:53:00.000Z","created_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"last_edited_by":{"object":"user","id":"33bd6ca7-2130-4d07-9d49-cb88fa4bdf85"},"has_children":false,"archived":false,"type":"quote","quote":{"rich_text":[{"type":"text","text":{"content":"“Be
        curious, not judgmental.” – Walt Whitman “I am grateful that I am not as judgmental
        as all those censorious, self-righteous people around me.” – anonymous","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"“Be
        curious, not judgmental.” – Walt Whitman “I am grateful that I am not as judgmental
        as all those censorious, self-[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/f8e0f266-335f-4eaa-b621-e9dfc1b52408/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0be77eec-606d-4377-bd3c-24b81bd53f25
      etag:
      - W/"90-vtBggJHNjG/k/H1zg8AiPhAIF5w"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0be77eec-606d-4377-bd3c-24b81bd53f25"}'
  recorded_at: Mon, 25 Dec 2023 19:34:05 GMT
recorded_with: VCR 6.2.0
